.row {
    display: flex;
} 
[class*='col-'] {
    flex: 1;
    /* Other properties */
  }
/* Section Latest news ============================= */

.section-latest-news .row {
    flex-direction: row-reverse;
}
/*** 4. CARD ***/
